
:root {
	--transition-duration-long: 0.5s;
    --transition-duration-short: 0.25s;
    --background: #fff;
    --foreground: #000;
    --grayish: hsl(225deg 30% 20% / 5%);
    --gray: hsl(225deg 20% 20% / 10%);
    --cyan: #0ff;
    --magenta: #f0f;
    --yellow: #ff0;
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
	--selection-accent: var(--yellow);
	--composite-color-1: var(--yellow);
    --composite-color-2: var(--magenta);
    --composite-color-3: var(--cyan);
    --composite-color-a: var(--blue);
    --composite-color-b: var(--green);
    --composite-color-c: var(--red);
    --composite-blend-mode: multiply;
	--font-size-hero: 5.5rem;
    --font-size-title: 2.375rem;
    --font-size-heading: 1.75rem;
    --font-size-body: 1.1875rem;
    --font-size-post-scriptum: 1.375rem;
    --border-thickness: 0.125rem;
    --shadow-distance: 0.25rem
}

@supports (color: color(display-p3 1 1 1)) {
    :root {
        --cyan: color(display-p3 0 1 1);
        --magenta: color(display-p3 1 0 1);
        --yellow: color(display-p3 1 1 0);
        --red: color(display-p3 1 0 0);
        --green: color(display-p3 0 1 0);
        --blue: color(display-p3 0 0 1)
    }
}

*,*::before,*::after {
    box-sizing: border-box
}

::selection {
    background: var(--foreground);
    color: var(--background)
}

pre {
    margin: 1rem 0 calc(1rem + var(--shadow-distance));
    padding: 1rem;
    font-size: var(--font-size-body);
    background: var(--foreground);
    color: var(--background);
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance)) calc(var(--border-thickness) + var(--shadow-distance)) 0 calc(var(--border-thickness) * -1) var(--magenta);
    overflow: auto
}

pre ::selection {
    background: var(--selection-accent);
    color: var(--foreground)
}

.composite {
    display: inline-block;
    position: relative;
    color: var(--foreground);
    cursor: default;
    --layer-offset: 0.15em
}

.composite a {
    text-decoration: none
}

.composite a:hover {
    opacity: inherit
}

@supports (mix-blend-mode: multiply) {
    .composite {
        color:var(--composite-color-2);
        mix-blend-mode: var(--composite-blend-mode)
    }

    .composite::before,.composite::after {
        content: attr(content);
        transition: transform var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: var(--composite-blend-mode);
        pointer-events: none
    }

    .composite::before {
        transform: translate(calc(-1 * var(--layer-offset)), calc(-1 * var(--layer-offset)));
        color: var(--composite-color-1)
    }

    .composite::after {
        transform: translate(var(--layer-offset), var(--layer-offset));
        color: var(--composite-color-3)
    }

    .composite:hover::before,.composite:hover::after {
        transform: none
    }
}


html {
	background: #e4e4e4;
}

body {
	overflow:auto;
	font-family: 'DM Sans', sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #e4e4e4;
	accent-color: #9E489F;
	display: block;
	flex-direction: column;
	min-height: 100vh;
	height: auto;
	color: #444;
}

a {
	text-decoration: none;
	color: #9E489F;
}

#moreInfo p{
	line-height: 2;
}

#moreInfo span{
	margin-left: 10px;
}

#moreInfo a {
	text-decoration: none;	
	background-color: transparent;
	color: rgb(138, 138, 138);
}

#moreInfo a:hover{
	color: #e4e4e4;
	background-color: #9E489F;
}

a:hover,
a:focus {
	outline: none;
	text-decoration:none;
	color: #9E489F;
}

h1 {
	font-family: 'DM Serif Display', serif;
	font-size: 120px;
}

/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/

#mu-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	width: 100%;
	display: block;
	height: 1200px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.mu-featured-area {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 20% 5%;
	text-align: left;
}

.mu-featured-area h1, h2 {
	font-size: 60px;
	color: #444;
	font-weight: 800;
	margin-bottom: 0;
	line-height: 1.1;
}

.mu-featured-slider-wrapper {
	display: inline;
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 15px;
}

.mu-featured-slider {
	display: inline;
	float: left;
	width: 100%;
	height: 100%;
}
	

.mu-featured-slider p,
#typed {
	color: #444;
	font-size: 16px;
}

.mu-featured-slider span,
#typed span,
.typed-cursor {
	color: rgb(98, 98, 98);
	font-weight: 700;
	font-size: 23px;
	line-height: 2;
}

.mu-featured-content {
	margin-top: 20px;
	display: flex;
	float: left;
	height: 100%;
	font-size: 21px;
	line-height: 2;
	width: 100%;
}

.mu-featured-content p{
	color: #444;
}

.mu-featured-content a{
	margin-top: 35px;
}


/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/


@media (max-width: 1199px) {

	.navbar-brand img {
		width: 145px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}


}


@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}

	.mu-featured-slider-content {
		left: 0;
		right: 0;
		bottom: 0;
		top: 20%;
		padding: 0 10px;
	}

	.mu-featured-slider-content h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.mu-featured-slider-content p {
		font-size: 12px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}

}

@media (prefers-color-scheme: dark) {
  
	html {
		background: #151618;
	}

	
	body {
    background-color: #151618;
    color: #e4e4e4;
	/*accent-color:#2cc08c;*/
	accent-color:#9E489F;
  }
  h1 {
	  /*color: #2cc08c;*/
	  color:#9E489F;
  }
  a {
   color: #9e489f;
  }

  #moreInfo{
	  padding-top: 50px;
  }

  #moreInfo span{
	  margin-left: 10px;
  }

  #moreInfo a {
	text-decoration: none;	
	background-color: transparent;
	color:#616161;
	word-spacing:50%;
}

#moreInfo a:hover{
	color: #444;
	background-color: #e4e4e4;
}

	a:hover,
	a:focus {
		outline: none;
		text-decoration:none;
		color: #9E489F;
	}

	.mu-featured-content p{
		color: #e4e4e4;
	}

	.typed-cursor {
		/*color: #2cc08c;*/
		color:#9E489F;
	}

	.mu-primary-btn {
		border: 2px solid #e4e4e4;
		color: #e4e4e4;
	}

	.mu-featured-slider span,
	#typed span {
		color: #616161;

	}

	.mu-featured-slider
	.typed-cursor{
		/*color: #2cc08c;*/
		color:#9E489F;
	}

	.mu-featured-area h1 {
		/*color: #2cc08c;*/
		color:#9E489F;
	}
	.mu-featured-slider p,
	#typed {
		color: #e4e4e4;
	}

	.mu-primary-btn:hover,
	.mu-primary-btn:focus {
	/*background-color: #2cc08c;*/
	background-color:#9E489F;
	color: #151618;
}

#footer a {
	color: #ffe100;
	background-color: transparent;
  }

  :root {
	--background: #0f0f0f;
	--foreground: #fff;
	--grayish: hsl(225deg 100% 95% / 8%);
	--gray: hsl(225deg 100% 92% / 12%);
	--composite-color-1: var(--blue);
	--composite-color-2: var(--green);
	--composite-color-3: var(--red);
	--composite-color-a: var(--yellow);
	--composite-color-b: var(--magenta);
	--composite-color-c: var(--cyan);
	--composite-blend-mode: screen;
	--selection-accent: var(--blue)
}
}
