
html {
	background: #e4e4e4;
}

body {
	overflow:auto;
	font-family: 'Commissioner', sans-serif;
	font-weight: 700;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #e4e4e4;
	accent-color: #c60055;
	display: block;
	flex-direction: column;
	min-height: 100vh;
	height: auto;
	color: #444;
	

}

a {
	background-color:#444;
	text-decoration: none;
	color: #e4e4e4;
}

#moreInfo p{
	line-height: 2;
}

#moreInfo span{
	margin-left: 10px;
}


#moreInfo a {
	text-decoration: none;	
	background-color: transparent;
	color: rgb(138, 138, 138);
}

#moreInfo a:hover{
	color: #e4e4e4;
	background-color: #444;
}



a:hover,
a:focus {
	outline: none;
	text-decoration:none;
	color: #c60055;
}

h1 {
	font-family: 'Fraunces', serif;
	font-size: 120px;
}

/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/

#mu-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	width: 100%;
	display: block;
	height: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.mu-featured-area {
	display: block;
	float: left;
	width: 100%;
	padding: 10% 5%;
	text-align: left;
}

.mu-featured-area h1 {
	font-size: 60px;
	color: #444;
	font-weight: 800;
	margin-bottom: 0;
	line-height: 1;
}

.mu-featured-slider-wrapper {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 15px;
}

.mu-featured-slider {
	display: inline;
	float: left;
	width: 100%;
}
	

.mu-featured-slider p,
#typed {
	color: #444;
	font-size: 14px;
	font-weight: 700;
}

.mu-featured-slider span,
#typed span,
.typed-cursor {
	color: rgb(98, 98, 98);
	font-weight: 700;
	font-size: 23px;
	line-height: 2;
}

.mu-featured-content {
	margin-top: 23px;
	display: flex;
	float: left;
	height: auto;
	font-size: 23px;
	font-weight: 700;
	line-height: 1.8;
	width: 100%;
}

.mu-featured-content p{
	color: #444;
}

.mu-featured-content a{
	margin-top: 35px;
}


/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.navbar-brand img {
		width: 145px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}


}


@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}

	.mu-featured-slider-content {
		left: 0;
		right: 0;
		bottom: 0;
		top: 20%;
		padding: 0 10px;
	}

	.mu-featured-slider-content h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.mu-featured-slider-content p {
		font-size: 12px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}

}

#footer {
	position: relative;
	margin-top: auto;
	bottom: 0;
	width: 100%;
	height: auto;
	color: #666;
	vertical-align: top;
	text-align: center;
	padding: 0% 10%;
	font-size: 11px;
  }
  
  #footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  #footer li {
	display: inline-block;
	margin-right: 15px;
	border-right: 1px solid;
	border-color: #666;
	vertical-align: middle;
  }
  #footer li a {
	margin-right: 15px;	
  }
  #footer li:last-child {
	margin-right: 0;
	border-right: 0;
  }
  #footer li:last-child a {
	margin-right: 0;
  }
  #footer a {
	
	/*color: #00524F;*/
	color: #c60055;
	text-decoration: underline;
	background-image: none;
	background-color: transparent;
  }
  #footer a:hover {
	color: #d86500;
  }
  #footer .footer-left {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
  }
  @media (min-width: 39rem) {
	#footer {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  align-items: center;
	  align-content: center;
	  margin-bottom: 20px;
	}
	#footer .footer-left {
	  align-self: flex-start;
	  margin-right: 20px;
	}
	#footer .footer-right {
	  align-self: flex-end;
	}
  }

@media (max-width: 320px){

}


@media (prefers-color-scheme: dark) {
  
	html {
		background: #151618;
	}

	
	body {
    background-color: #151618;
    color: #e4e4e4;
	/*accent-color:#2cc08c;*/
	accent-color:#ff4081;
  }
  h1 {
	  /*color: #2cc08c;*/
	  color:#ff4081;
  }
  a {
   /*color: #2cc08c;*/
	background-color:#e4e4e4; 
	color:#151618;
  }

  #moreInfo{
	  padding-top: 50px;
  }

  #moreInfo span{
	  margin-left: 10px;
  }

  #moreInfo a {
	text-decoration: none;	
	background-color: transparent;
	color:#616161;
	word-spacing:50%;
}

#moreInfo a:hover{
	color: #444;
	background-color: #e4e4e4;
}

	a:hover,
	a:focus {
		outline: none;
		text-decoration:none;
		color: #ff4081;
	}

	.mu-featured-content p{
		color: #e4e4e4;
	}

	.typed-cursor {
		/*color: #2cc08c;*/
		color:#ff4081;
	}

	.mu-primary-btn {
		border: 2px solid #e4e4e4;
		color: #e4e4e4;
	}

	.mu-featured-slider span,
	#typed span {
		color: #616161;

	}

	.mu-featured-slider
	.typed-cursor{
		/*color: #2cc08c;*/
		color:#ff4081;
	}

	.mu-featured-area h1 {
		/*color: #2cc08c;*/
		color:#ff4081;
	}
	.mu-featured-slider p,
	#typed {
		color: #e4e4e4;
	}

	.mu-primary-btn:hover,
	.mu-primary-btn:focus {
	/*background-color: #2cc08c;*/
	background-color:#ff4081;
	color: #151618;
}

#footer a {
	color: #ffe100;
	background-color: transparent;
  }



}
