
body {
	overflow-x:hidden;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 2;
	background-color: #e4e4e4;
	color: #444;

}

h1
{
	font-weight: 200;
	margin-top: 0;
}


h1 {
	font-size: 25px;
}
